body {
    max-width: 600px;
    padding: 0;
    overflow-x: hidden;
    font-family: century-gothic, sans-serif;
    line-height: 1.5;
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 /* ADDS BORDER BOX TO MAKE RESPONSIVE LAYOUT */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ADDS WRAPER CLASS TO CONTROL SEC/DIV OF THE WEB */

  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    max-height:fit-content;
    overflow: hidden;
    padding: 0 30px 0 30px;
}

nav{
    background-color: #22578A;
    height: 88px;
}

nav ul{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-style: normal;
}


a {
    text-decoration: none;
    color: #79B472;
    transition: color 0.2s ease;
}

a:hover {
    background-color: #C5E0F5;
    margin: 10px 0 10px 0;
    padding: 10px;
}

#logo {
    position: absolute;
    margin-top: 8px;
    margin: 0 auto;
    padding: 5px;
    height: 85px;
}  

/* hambure menu credits -- https://codepen.io/alvarotrigo/pen/poWRrQW  -- */


#toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #f8982b;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #090E6B;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: left;
    margin-left: 25%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #6ecddd;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }


h1,h2 {
    font-family: Permanent Marker;
}
.banner .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}
h1{
    color: #C5E0F5;
    text-shadow: 1px 1px 2px grey;
    font-size: 40px;
    margin-top: 10px;
    font-style: oblique;
}

.banner {
    background-image: url(../images/rayabanner.JPG);
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative; 
    z-index: -1;
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #22578A;
    text-shadow: 5px 5px 10px gray;
    -webkit-text-stroke: 1px #090E6B;
}

#donate, #check {
    margin-top: 100px;
    background-color: #22578A;
    color: #C5E0F5;
    font-weight: 600;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    border: 0ch;
    height: 45px;
    width: 125px;
    box-shadow: 5px 5px 10px #000c4a;
}

.wrapper .HelpUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whatinfo p{
    margin-bottom: 30px;
}

.what{
        background-color: #C5E0F5;
        margin: 0 auto;
        padding-bottom: 0; 

}

.whatPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#what {
    border: #000000 solid 2px;
    margin: 50px 0 30px 0;
    box-shadow: 0 2px 15px grey;
    width: 440px;
  


}

#check {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 165px;
    height: 50px;
}

.HelpUsBanner {
    background-image: url(../images/auscroc.JPG);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 230px;
}

.HelpUs {
    width: 100%;
    margin-bottom: 15px;
}

.HelpUs h2{
    color: #C5E0F5;
    text-shadow: 0 1px 2px #000c4a;
}

Footer {
    background-color:#C5E0F5 ;
}

Footer p {
    color:#22578A ;
    font-weight: lighter;
}

footer h4 {
    color: #22578A;
    font-weight: bolder;
}

Footer .wrapper{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    justify-content: space-between;
}

.data {
    justify-content: space-around;
    margin-top: 15px;
}

.socials {
    justify-content: space-around;
    margin-top: 35px;
}
.copy {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 15px;
    color: #000000;
}
/***********************************************
************************************************
*************style contact**********************
***********************************************/
.contactpage{
    background-color: #C5E0F5;
    
}
.form h2 {
    margin-top: 3em;
}

form .formTitle{
    text-align: center;
}

input[type=submit]{
    padding: 10px 20px;
    margin-top: 10px;
}
.map {
    margin: 0 30px;
    justify-content: center;
    align-items: center;
}

iframe { 
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 5px 10px grey;
    height: 200px;
    width: 100%;
    
}

form {
    background-color: #C5E0F5;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
}

input[type=text],[type=tel],[type=email] {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    box-shadow: inset 1px 1px 1px #c5e0c5;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    resize: vertical;
    box-shadow: inset 1px 1px 2px #c5e0c5;
}


@media screen and (min-width: 600px){
    
    /*set min-width for entire body to constrict content and background*/
    html {
        min-width: 600px; 
    }

    body {
        background-color: #C5E0F5;
        min-width: 100%;
        padding: 0;
    }
    header {
        background-color: #22578A;
        fill-opacity: 1;
    }

    #logo {
        padding: 0;
        margin: 0 auto;
    }

    nav {
        background-color: #22578A;
    }
}

/* Changes style of nav */

.topnav, nav {
    max-width: 100%;
    display: flex;
    height: 120px;
    justify-content: space-around;        
} 

#logo {
    position: static;
    margin: 20px 50px 20px 0px;
    padding-right: 250px;
    height: 80px;
}

.topnav .logo a:hover {
    background-color: transparent;
}
#menuToggle {
    display: none;
}

ul {
    display: flex;
    align-items: center;       
}

nav ul li a {
    margin: 50px;
}

/* SET CONTAINER TO MAX WIDTH TO WRAP CONTET OF ENTIRE PAGE */

.wrapper {
    max-width: 1200px;   
}

.banner {
    background-color: #22578A;
    background-image: url(../images/rayabanner.JPG);
    max-width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: flex;
    overflow: hidden;
    position: relative;
    }

/* h1 {
    padding: 0;
    margin-right: 710px;
    font-size: 75px;  
} */
