body {
    max-width: 600px;
    padding: 0;
    overflow-x: hidden;
    font-family: century-gothic, sans-serif;
    line-height: 1.5;
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 /* ADDS BORDER BOX TO MAKE RESPONSIVE LAYOUT */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*ADDS WRAPER CLASS TO CONTROL SEC/DIV OF THE WEB */

  .wrapper {
    max-width: 600px;
    margin: 0 auto;
    max-height:max-content;
    overflow: hidden;
    padding: 0 30px 0 30px;
}

nav{
    background-color: #22578A;
    height: 88px;
}

nav ul{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* HAMBURGER MENU TAKEN FROM https://codepen.io/erikterwan/pen/grOZxx?editors=1100 Made by Erik Terwan */

a {
    text-decoration: none;
    color: #79B472;
    transition: color 0.2s ease;
}

a:hover {
    background-color: #C5E0F5;
    margin: 10px 0 10px 0;
    padding: 10px;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
    z-index: 1;
}

#menuToggle input {
    display: block;
    width: 45px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: -6px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 35px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    background: #909a32;
    border-radius: 5px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity .5s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* TRANSFORM HAMBURGER MENU INTO CROSS */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(2px, -2px);
}

/* Hides middle stick */
#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.1, 0.2);
}

/* CHANGES DIRECTION OF STICK TO FORM CROSS */
#menuToggle input:checked~span:nth-last-child(1) {
    opacity: 1;
    transform: rotate(-45deg) translate(2px, -5px);
}

#logo {
    position: absolute;
    margin-top: 8px;
    margin: 0 auto;
    padding: 5px;
    height: 85px;
}  

h1,h2 {
    font-family: Permanent Marker;
}

h1{
    color: #C5E0F5;
    text-shadow: 1px 1px 2px grey;
    font-size: 40px;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 0;
    margin-right: 100px;
    font-style: oblique;
}

.banner {
    background-image: url"images/swiming_turtle.jpg";
    max-width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative; 
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #22578A;
    text-shadow: 5px 5px 10px gray;
}

#donate {
    margin-top: 100px;
}